<% include partials/header  %>
  <h1>
    <%= campground.name %>
  </h1>

  <img src="<%= campground.image %>" alt="campground">

  <p>
    <%= campground.description %>
  </p>

  <% campground.comments.forEach(function(comment){ %>
    <div>
      <p>
        <strong>
          <%= comment.content %>
        </strong> -
        <%= comment.author.username %>
      </p>
      <%  }); %>
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit Campground</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Campground" class="btn btn-danger">
        </form>
        <a href="/campgrounds/<%=campground._id %>/comments/new">Leave a comment</a>
    </div>


    <% include partials/footer  %>